In [1]:
import pandas as pd
df = pd.read_csv('CS_T_T_STD_COST.csv',encoding='cp949')

In [2]:
df

,연번,업체아이디,킬로미터당원가,관할행정아이디,입력일자,최종처리자아이디,수정일자,영역분류,일일대당원가,평가연도,평가차수
0,1,1041,622,3.0,2012-07-10,1,2012-07-10,1,307546,2012,19
1,2,1000,461,30.0,2012-07-10,1,2012-07-10,2,305872,2012,19
2,3,1006,511,30.0,2012-07-10,1,2012-07-10,2,289164,2012,19
3,4,1010,494,30.0,2012-07-10,1,2012-07-10,2,214690,2012,19
4,5,1011,374,30.0,2012-07-10,1,2012-07-10,2,219583,2012,19
...,...,...,...,...,...,...,...,...,...,...,...
3274,3275,1036,547,1.0,2012-07-10,1,2012-07-10,1,410318,2012,19
3275,3276,1038,547,1.0,2012-07-10,1,2012-07-10,1,410318,2012,19
3276,3277,1039,547,1.0,2012-07-10,1,2012-07-10,1,410318,2012,19
3277,3278,1025,622,3.0,2012-07-10,1,2012-07-10,1,307546,2012,19
3278,3279,1034,622,3.0,2012-07-10,1,2012-07-10,1,307546,2012,19

In [7]:
df['일일대당원가'].unique()

array([ 307546,  305872,  289164,  214690,  219583,  234675,  248352,
             2,  186680,  264156,  219145,  307272,  407938,  115322,
        326558,  200212,  260676,   98729,  281801,  226862,  181982,
        351689,  202897,  202630,  315885,  216456,  265376,  195669,
        291900,  266688,  259159,  234207,  246637,  307454,  251684,
        320033,  394092,  269381,  304292,  229977,  235522,  252627,
        256760,  225919,  313513,  253640,  230312,  301049,       1,
             0,  273277,  468086,  498378,  399791,  260616,  297776,
        382758,  335026,  353064,  288789,  344914,  338462,  443861,
        435280,  269398,  224582,  449087,  267924,  309867,  627193,
        357137,  453865,  458307,  338344,  320277,  293340,  367338,
        332682,  254761,  357557,  350208,  396476,  353967,  321454,
        386441,  395336,  160479,  321216,      11,    1111,  271896,
        332672,  466589,  457633,  395211,  486468,  481855,  437687,
        335511,  342767,  288774,  347510,  455713,  411844,  448814,
        431028,  481909,  545157,  346052,  448056,  443304,  473624,
        516381,  611703,  375971,  458511,  488214,  422602,  546013,
        312618,  478835,  418338,  465445,  491716,  545859,  490807,
        433381,  488433,  556655,  791377,  473704,  535270,  435292,
        581846,  315570,  519892,  424085,  472390,  535070,  722001,
        560084,  454804,  755419,  298472,  464227,  508970,  458654,
        269649,  312832,  333705,  454577,  396922,  438482,  587889,
        344448,  290909,  615514,  780195,  418117,  320222,  575796,
        573452,  473007,  379636,  768057,  389192,  343209,  485653,
        419013,  250169,  541318,  576223,  483125,  454078,  313324,
        576068,  743597,  551531,  504358,  297122,  320870,  341702,
        380981,  265296,  195873,  219339,  282972,  270477,  180715,
        348385,  240506,  232767,  545326,  273249,  468175,  498481,
        399758,  259969,  297319,  345651,  447389,  382781,  448974,
        473903,  333268,  352010,  515834,  617394,  386250,  287487,
        463522,  488032,  422756,  344438,  546032,  503917,  469261,
        494136,  268391,  472483,  238122,  318695,  418670,  438013,
        387470,  457530,  324446,  252731,  505606,  271853,  456846,
        363028,  400011,  386686,  238062,  288741,  411835,  362239,
        400003,  448815,  293974,  252713,  467347,  486188,  332380,
        337853,  455423,  401457,  332596,  466580,  318686,  323659,
        437694,  417887,  442763,  220458,  395202,  430244,  437740,
        271899,  437798,  506135,  457522,  413014,  593459,  356822,
        523577,  652570,  475025,  312644,  502361,  417860,  454757,
        491659,  573961,  559923,  442275,  438516,  625496,  298473,
        671525,  566282,  603374,  637712,  566254,  702607,  561592,
        306625,  368286,  261890,  335904,  348758,  383004,  393122,
        269457,  485779,  495890,  491939,  294051,  467637,  443044,
        413032,  505888,  290006,  272478,  333365,  342016,  289092,
        319193,  372370,  263267,  300929,  355360,  385304,  310986,
        271976,  438070,  401747,  506415,  375980,  338517,  443824,
        435375,  268286,  478580,  225155,  449944,  268549,  308108,
        546520,  490734,  355694,  462331,  464795,  492069,  562863,
        803054,  475375,  535278,  435262,  581833,  306031,  519590,
        423439,  361964,  262773,  312965,  262541,  247651,  296803,
        245982,  274148,  247703,  273865,  315524,  241391,  247866,
        370544,  432198,  159924,  191329,  264820,  283086,  141180,
        315344,  318381,  130648,  280196,  236794,  287493,  220802,
        198974,  271138,  256686,  267200,  335750,  262218,  404300,
        255153,  198902,  218396,  216313,  242858,  217641,  219954,
        211732,  234193,  251054,  224832,  168056,  221503,  378772,
        297174,  243247,  247049,  216837,  230165,  212004,  278396,
        237984,   96231,  223575,  243024,  177029,  227501,  230637,
        275655,  239581,  310082,  205896,  239720,  103069,  180287,
        323961,  208928,  661330,  507164,  496926,  603989,  472039,
        483448,  300972,  442098,  453509,  522828,  573259,  738442,
        586323,  568518,  439013,  706931,  379138,  524287,  570098,
        498574,  550317,  684603,  551560,  515457,  573283,  504258,
        515621,  468283,  400762,  363062,  486897,  463809,  535040,
        722771,  462006,  284317,  436675,  300595,  355559,  288048,
        349899,  338516,  450610,  241341,  273043,  593206,  284965,
        468017,  497917,  436647,  301707,  357158,  357318,  524049,
        646286,  322604,  471692,  351071,  450570,  502543,  573140,
        559897,  563644,  360489,  456814,  479364,  488096,  532958,
        635754,  475309,  500479,  433404,  550736,  335522,  494970,
        434988,  478048,  505456,  563774,  512877,  448848,  379093,
        214110,  291366,  278838,  234666,  177028,  278395,  222247,
        290783,  224771,  265130,  304471,  212854,  283255,  191838,
        270284,  183071,  221144,  202836,  277348,  265153,  211845,
        213868,  214498,  225612,  240601,  220085,  216093,  236402,
        242188,  223206,  204912,  237612,  216273,  212878,  214566,
        225748,  237394,  418929,  491172,  495165,  480681,  296376,
        322831,  289035,  324397,  256120,  290056,  559818,  573937,
        560157,  436087,  681545,  377686,  508661,  549811,  544014,
        491422,  511356,  504252,  515620,  433403,  400757,  363057,
        480833,  418934,  484730,  449923,  462807,  527273,  574425,
        966168,  610410,  658217,  441319,  797788,  395869,  568637,
        581994,  640070,  880922,  561584,  599309,  623704,  286369,
        441527,  444238,  873341,  451739,  603617,  647113, 1022391,
        576760,  629562,  912428,  406868,  238525,  225415,  212584,
        218362,  218641,  231092,  246387,  270553,  206582,  372528,
        264659,  215587,  253476,  553307,  679358,  566937,  554091,
        429771,  675845,  371532,  503152,  542970,  537954,  641242,
        484545,  504531,  567575,  549873,  592315,  625484,  966896,
        555794,  538858,  666453,  556860,  598376,  556659,  438845,
        702331,  537202,  605698,  477762,  499204,  552659,  287907,
        331952,  274892,  347302,  237847,  300930,  298246,  224114,
        206917,  174158,  100383,  173265,  159999,  283512,  248863,
         90856,  192448,  200711,  210989,  217606,  199534,  246038,
        211123,  214473,  225867,  235551,  218773,  235652,  202876,
        219207,  250288,  278202,  171799,  176292,       5,  326828,
        410348,  307568,  410318,  260554,  252521,  326469,  283075,
        333017,  223262,  217133,  106606,  218277,  170925,  233612,
        326805,  242604,  262034,  212253,   89572,  530937,  273906,
        479055,  508393,  410609,  264758,  312663,  351900,  436956,
        389792,  438893,  468682,  336878,  358659,  504598,  567228,
        392687,  290494,  431162,  485147,  418762,  347341,  497271,
        307377,  348252,  453856,  445317,  271073,  473018,  224930,
        420145,  460796,  273375,  463585,  311742,  490912,  523659,
        460382,  427541,  266108,  230666,  228662,  251831,  217305,
        230649,  244065,  197453,  196348,  330765,  252539,  106613,
        180351,  262054,  212268,  170937,  224200,  223279,   89579,
        248369,  181519,  196334,  181505,  224186,  180338,  200000,
        225437,  261610,   96586,  249728,  182941,  188249,  334145,
        113717,  411032,  304586,  228124,  284269,  246106,  238236,
        246439,  267093,  213119,  229585,  226144,  218242,  238507,
        296170,  342801,  246579,  202588,  268747,  226349,  309131,
        247445,  220208,  220150,  302222,  198096,  341125,  177104,
        309313,  189928,  264139,  170347,  259317], dtype=int64)

In [5]:
max(df['킬로미터당원가'].unique())

1026

In [8]:
df['업체아이디'].unique()

array([1041, 1000, 1006, 1010, 1011, 1012, 1030, 1044, 1032, 1031, 1013,
       1015, 1043, 1008, 1016, 1034, 1018, 1025, 1014, 1040, 1042, 1035,
       1023, 1019, 1038, 1027, 1001, 1002, 1009, 1004, 1024, 1029, 1026,
       1028, 1046, 1037, 1007, 1036, 1033, 1022, 1017, 1039, 1005, 1020,
       1003, 1021, 1047], dtype=int64)

In [46]:
df.sort_values(by=['업체아이디'])

,연번,업체아이디,킬로미터당원가,관할행정아이디,입력일자,최종처리자아이디,수정일자,영역분류,일일대당원가,평가연도,평가차수
1053,1054,1000,217,30.0,2021-10-19,1,2021-10-19,2,671525,2021,67
1974,1975,1000,217,30.0,2021-09-08,1,2021-09-15,2,671525,2021,64
540,541,1000,249,30.0,2020-11-30,1,2020-11-30,2,545157,2020,59
936,937,1000,257,30.0,2019-10-23,1,2019-10-23,2,505606,2019,49
3214,3215,1000,497,30.0,2012-07-11,1,2012-07-11,2,302222,2012,22
...,...,...,...,...,...,...,...,...,...,...,...
1900,1901,1047,288,30.0,2022-08-17,1,2022-08-17,2,623704,2022,72
2197,2198,1047,263,30.0,2021-09-27,1,2021-09-27,2,666453,2021,65
1851,1852,1047,288,30.0,2022-08-16,1,2022-08-16,2,573283,2022,71
2189,2190,1047,288,30.0,2022-08-18,1,2022-08-18,2,567575,2022,73
1973,1974,1047,263,30.0,2021-08-12,1,2021-09-15,2,625496,2021,62

In [ ]:
#cleaning

In [65]:
from scipy import stats

for x in df.index:
  if df.loc[x, "일일대당원가"] < 10000:
    df.drop(x, inplace = True)

In [ ]:
#1

In [38]:
bus1 = df[df['업체아이디']==1000]['일일대당원가']

In [39]:
bus2 = df[df['업체아이디']==1047]['일일대당원가']

In [47]:
stats.ttest_ind(bus1, bus2)

Ttest_indResult(statistic=-2.950953591423664, pvalue=0.004970604370253055)

In [66]:
stats.ks_2samp(bus1, bus2)

KstestResult(statistic=0.7368421052631579, pvalue=0.00010647336026716793)

In [ ]:
#2

In [18]:
df['평가연도'].unique()

array([2012, 2013, 2020, 2021, 2015, 2019, 2022, 2014, 2010, 2011],
      dtype=int64)

In [50]:
df['영역분류'].unique()

array([1, 2, 4], dtype=int64)

In [53]:
df2=df[df['평가연도']==2010]
df3=df[df['평가연도']==2022]

In [59]:
df2[df2['영역분류']==1]['킬로미터당원가'].mean()

550.764367816092

In [60]:
df2[df2['영역분류']==2]['킬로미터당원가'].mean()

468.30833333333334

In [61]:
df2[df2['영역분류']==4]['킬로미터당원가'].mean()

351.0151515151515

In [62]:
df3[df3['영역분류']==1]['킬로미터당원가'].mean()

387.6666666666667

In [63]:
df3[df3['영역분류']==2]['킬로미터당원가'].mean()

291.94736842105266

In [64]:
df3[df3['영역분류']==4]['킬로미터당원가'].mean()

266.53333333333336

In [ ]:
#2. 1>2>4 순으로 킬로미터당원가가 높다.

In [ ]:
#3

In [68]:
df2010=df[df['평가연도']==2010]
df2012=df[df['평가연도']==2012]

In [78]:
a2010=df2010[df2010['관할행정아이디']==30]['킬로미터당원가']

In [79]:
b2010=df2010[df2010['관할행정아이디']==7]['킬로미터당원가']

In [80]:
stats.ttest_ind(a2010, b2010)

Ttest_indResult(statistic=-2.1022373416758477, pvalue=0.037461515438776266)

In [81]:
stats.ks_2samp(a2010, b2010)

KstestResult(statistic=0.75, pvalue=1.1233529394852637e-06)

In [83]:
a2012=df2012[df2012['관할행정아이디']==30]['킬로미터당원가']

In [86]:
b2012=df2012[df2012['관할행정아이디']==7]['킬로미터당원가']

In [87]:
stats.ttest_ind(a2012, b2012)

Ttest_indResult(statistic=0.0, pvalue=1.0)

In [88]:
stats.ks_2samp(a2012, b2012)

KstestResult(statistic=0.0, pvalue=1.0)